<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nodelist.css') }}">
  <link rel="shortcut icon" href="{{url_for('static', filename='images/logo.png')}}" type="image/x-icon">
  <title>Nœuds</title>
</head>
<body>
  <h1>Nœuds</h1>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>IP</th>
          <th>LOCALISATION</th>
        </tr>
      </thead>
      <tbody>
        {% for id, data in nodes.items() %}
        <tr class="{{ 'status-on' if data.status == 'on' else 'status-off' }}">
          <td>{{ id }}</td>
          <td>{{ data.ip }}</td>
          <td>Régisseur</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
