body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    margin: 20px auto;
    width: 90%;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #64003d;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #64003d;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.status-on {
    color: green;
}

.status-off {
    color: red;
}